swift-project/cmark
swift-project/indexstore-db
swift-project/llbuild
swift-project/llvm-project
swift-project/ninja
swift-project/sourcekit-lsp
swift-project/swift-argument-parser
swift-project/swift-atomics
swift-project/swift-collections
swift-project/swift-corelibs-foundation
swift-project/swift-corelibs-libdispatch
swift-project/swift-corelibs-xctest
swift-project/swift-crypto
swift-project/swift-driver
swift-project/swift-format
swift-project/swift-installer-scripts
swift-project/swift-integration-tests
swift-project/swift-numerics
swift-project/swift-stress-tester
swift-project/swift-syntax
swift-project/swift-system
swift-project/swift-tools-support-core
swift-project/swift-xcode-playground-support
swift-project/swiftpm
swift-project/yams
swift-project/build
